<% if user_signed_in? %>
<% if @internship.user_id == current_user.id %>
<%- model_class = @internship.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @internship.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @internship.company %></dd>
  <dt><strong><%= model_class.human_attribute_name(:internship_type) %>:</strong></dt>
  <dd><%= @internship.internship_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @internship.start_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
  <dd><%= @internship.end_date %></dd>
  <dt><strong>Diary Count:</strong></dt>
  <dd><%= @internship.diaries.count %></dd>
</dl>

<div class="form-actions">

  
  <%= link_to t('.back', :default => t("helpers.links.back")),
              internships_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_internship_path(@internship), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              internship_path(@internship),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
 
</div>
<hr />
<%- model_class = Diary.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<table class="table table-striped">
	<%= will_paginate @diaries %>
  <thead>
    <tr>
      <th>Detail</th>
      <th><%= model_class.human_attribute_name(:internship_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:private) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= link_to t('.Show', :default => t("helpers.links.show")),
            diary_path(diary),
            :class => 'btn btn-success' %>
        </td>
        <td><%= Internship.find(diary.internship_id).title %></td>
        <td><%= diary.name %></td>
        <td><%= diary.content %></td>
        <td><% if diary.private==true  %>
        	   <p>Private</p>
        	<% else %> 
        	   <p>Public</p>
            <%end%>
        </td>
        <td><%=l diary.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_diary_path(diary), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      diary_path(diary),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>    
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_diary_path,
            :class => 'btn btn-primary' %>

<%else%>
 <p>Yetkiniz yok.</p>
 <% end %>
<%else%>
<p>Lütfen Giriş yapınız!</p>
<% end %>