<%= simple_form_for @education, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :university %>
  <%= f.input :faculty %>
  <%= f.input :department %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                educations_path, :class => 'btn' %>
  </div>
<% end %>
